@font-face {
  font-family: ExoItalic;
  src: local("Exo-Italic"), url("fonts/Exo-Italic.ttf");
}
@font-face {
  font-family: ExoMedium;
  src: local("Exo-Medium"), url("fonts/Exo-Medium.ttf");
}
@font-face {
  font-family: ExoRegular;
  src: local("Exo-Regular"), url("fonts/Exo-Regular.ttf");
}
@font-face {
  font-family: ExoThin;
  src: local("Exo-Thin"), url("fonts/Exo-Thin.ttf");
  font-weight: lighter;
}
