@import "fonts.css";

@colorRed: #ff6d6d;
@colorRedHover: #f96363;
@colorPurple: #8286a4;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: .2s ease-out 0.1s;
}

h2 {
  color: #282828;
  font-family: ExoMedium, sans-serif;
  font-size: 40px;
  padding: 15px 5px;
}

p {
  color: #bdbdbd;
  font-family: ExoRegular, sans-serif;
  font-size: 16px;
  padding: 15px 5px;
}

h3 {
  color: @colorRed;
  font-family: ExoMedium, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 5px 0 5px;
}

h4 {
  font-family: ExoMedium, sans-serif;
  font-size: 14px;
  color: #282828;
}

h5 {
  font-family: ExoMedium, sans-serif;
  color: #fff;
  font-size: 16px;
}

h6 {
  font-family: ExoMedium, sans-serif;
  color: @colorRed;
  font-size: 12px;
}

.person-paragraph {
  font-family: ExoItalic, sans-serif;
  font-size: 14px;
  color: #b6b6b8;
  padding: 15px 15px;
}

.trial-block-paragraph {
  color: #fff;
  font-family: ExoMedium, sans-serif;
  font-size: 40px;
}

.trial-text {
  font-family: ExoRegular, sans-serif;
  font-size: 16px;
  color: #b8b9c3;
  text-align: center;
}

body {
  font-family: ExoRegular, sans-serif;
  font-size: 14px;
}

.flex-container-first {
  height: 100vh;
  display: flex;
  background: url("../img/bg.jpg") 100% 100% no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-element-first {
  flex-shrink: 1;
}

.title {
  font-family: ExoThin, sans-serif;
  font-size: 60px;
  width: 730px;
  color: #282828;
  text-align: center;
  font-weight: lighter;
}

.play {
  margin: 60px 0 40px 0;
  border-radius: 50%;
  &:hover {
    background-color: rgba(65, 69, 102, .5);
  }
}

.btn-try {
  font-size: 16px;
  color: #fff;
  padding: 10px 40px;
  background-color: @colorRed;
  border-radius: 3px;
  display: block;
  text-transform: uppercase;
  font-family: ExoRegular, sans-serif;
  &:hover {
    background-color: @colorRedHover;
  }
}

.main-page-text {
  font-family: ExoRegular, sans-serif;
  font-size: 14px;
  padding: 10px 0;
  color: #282828;
}

@media only screen and (max-width : 768px) {
  .title {
    font-size: 45px;
    width: 500px;
    margin: 20px 0;
  }

  .play {
    margin: 10px 0 20px 0;
  }
}

.flex-container-second {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-element-second {
  align-self: center;
  width: 575px;
  margin: auto;
  flex-shrink: 1;
  flex-basis: auto;
}

.flex-element-second-img {
  flex-shrink: 2;
  flex-basis: auto;
}

@media only screen and (max-width : 1200px) {
  .flex-container-second {
    justify-content: center;
  }
}

@media only screen and (max-width : 768px) {
  .element-second-img {
    width: 450px;
  }
}

.flex-container-third {
  display: flex;
  background: url("../img/bg-2.jpg") repeat;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 50px 0;
}

.flex-element-third {
  flex-basis: 340px;
  text-align: center;
  padding-top: 50px;
  flex-grow: 1;
}

.flex-element-third-title {
  flex-basis: 1000px;
  text-align: center;
}

.flex-container-fifth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.flex-element-fifth {
  flex: 1 100px;
}

.flex-container-sixth {
  display: flex;
  background: url("../img/bg-3.jpg") repeat;
  padding: 100px 0;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

.flex-element-sixth-person {
  text-align: center;
  justify-content: space-around;
  width: 400px;
  padding-bottom: 30px;
}

.flex-element-sixth {
  padding: 50px 40px 0 40px;
  opacity: .5;
}

@media only screen and (max-width : 1200px) {
  .flex-element-sixth-person {
    width: 320px;
  }
}

@media only screen and (max-width : 992px) {
  .flex-element-sixth-person {
    width: 250px;
  }
}

@media only screen and (max-width : 840px) {
  .flex-container-sixth {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.flex-container-seventh {
  background-color: #323969;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.flex-element-seventh-title {
  text-align: center;
  padding-bottom: 30px;
}

.flex-element-seventh {
  width: 840px;
}

input {
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #999cb4;
  background-color: #464c77;
  border-radius: 3px;
  color: #fff;
  outline: none;
  margin: 10px 10px;
}

input[placeholder] {
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  color: #fff;
  opacity: .5;
}

::-moz-placeholder {
  color: #fff;
  opacity: .5;
}

:-moz-placeholder {
  color: #fff;
  opacity: .5;
}

:-ms-input-placeholder {
  color: #fff;
  opacity: .5;
}

button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 9px 40px 12px 40px;
  background-color: @colorRed;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  font-family: ExoRegular, sans-serif;
  margin: 10px 10px;
  outline: none;
  &:hover {
    cursor: pointer;
    background-color: @colorRedHover;
  }
}